main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

.UserProfileAvatar {
  max-width: 10em;
}

.postDetailImg {
  max-width: 125em;
}

.PostReactionImg {
  max-width: 5em;
}
.border-button {
  outline: solid 5px #FC5185;
  transition: outline 0.6s linear;
  margin: 0.5em; /* Increased margin since the outline expands outside the element */
}

.border-button:hover { outline-width: 10px; }